In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
# !pip install mlrose
# !pip install scikit-pyplot
import six
import sys
sys.modules['sklearn.externals.six']=six
import mlrose
from imblearn.over_sampling import SMOTE
from yellowbrick.classifier.rocauc import roc_auc
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [ ]:
data=pd.read_csv('Census Income Project.csv')

In [ ]:
data

**Checking null values**

In [ ]:
data.isna().sum()

*No null values are there*

In [ ]:
data.describe()

In [ ]:
data.info()

In [ ]:
data.head()

In [ ]:
{column:len(data[column].unique()) for column in data.select_dtypes('object').columns}

**From above i can see every object column and how many unique value they have if any column was having all unique value i might be droped that column like id but here the maximun unique value that i can see is  'Native_country': 42**

In [ ]:
data.select_dtypes('object')

In [ ]:
data.select_dtypes('object').columns

In [ ]:
col=['workclass', 'education', 'marital.status', 'occupation','relationship', 'race', 'sex', 'native.country', 'income']

In [ ]:
plt.figure(figsize=(18,30))
for i in range(len(col)):
  plt.subplot(5,2,i+1)
  sns.countplot(data[col[i]])
  plt.title(f"Countplot of {col[i]}",fontsize=20)
  plt.xticks(rotation=90,fontsize=13)
  plt.tight_layout()

#Observation
1-From workclass Private has the highest count and other 
 
 Private             22696
 
 Self-emp-not-inc     2541
 
 Local-gov            2093
 
 ?                    1836
 
 State-gov            1297
 
 Self-emp-inc         1116
 
 Federal-gov           960
 
 Without-pay            14
 
 Never-worked            7

2-From education the count of every class is
 
 HS-grad         10501
 
 Some-college     7291
 
 Bachelors        5354
 
 Masters          1723
 
 Assoc-voc        1382
 
 11th             1175
 
 Assoc-acdm       1067
 
 10th              933
 
 7th-8th           646
 
 Prof-school       576
 
 9th               514
 
 12th              433
 
 Doctorate         413
 
 5th-6th           333
 
 1st-4th           168
 
 Preschool          51

3-From marital_status i can say
 
 Married-civ-spouse       14976
 
 Never-married            10682
 
 Divorced                  4443
 
 Separated                 1025
 
 Widowed                    993
 
 Married-spouse-absent      418
 
 Married-AF-spouse           23

4-from occupation i can say
 
 Prof-specialty       4140
 
 Craft-repair         4099
 
 Exec-managerial      4066
 
 Adm-clerical         3769
 
 Sales                3650
 
 Other-service        3295
 
 Machine-op-inspct    2002
 
 ?                    1843
 
 Transport-moving     1597
 
 Handlers-cleaners    1370
 
 Farming-fishing       994
 
 Tech-support          928
 
 Protective-serv       649
 
 Priv-house-serv       149
 
 Armed-Forces            9

5- from relationship counplot i can say it has
 
 Husband           13193
 
 Not-in-family      8304
 
 Own-child          5068
 
 Unmarried          3446
 
 Wife               1568
 
 Other-relative      981

6-from race i can say it has 

 White                 27815
 
 Black                  3124
 
 Asian-Pac-Islander     1039
 
 Amer-Indian-Eskimo      311
 
 Other                   271

 7-From countplot of native_country i can say only US has the high and good count other are just have few count only

8-From sex i can say

 Male      21789
 
 Female    10771

 male are more

9-From income i can say

 <=50K    24719
 
>50K      7841

 more people are there who have income less then 50k

In [ ]:
data.select_dtypes(exclude='object').columns

In [ ]:
col1=['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss','hours.per.week']

In [ ]:
plt.figure(figsize=(25,20))
for i in range(len(col1)):
  plt.subplot(3,2,i+1)
  sns.distplot(data[col1[i]])
  plt.title(f"Distribution of {col1[i]}")
  plt.tight_layout()

#Observation
1-only the value of fnlwgt is continuous so that distribution is right skewed so in right skewed we know mean>median>mode 

2-for other columns i can say they are discrete

In [ ]:
plt.figure(figsize=(25,10))
for i in range(len(col1)):
  plt.subplot(2,3,i+1)
  sns.boxenplot(data[col1[i]])
  plt.title(f"Distribution of {col1[i]}")
  plt.tight_layout()

In [ ]:
data.columns

In [ ]:
# except income because we want to compare all the columns with income.

col2=['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country']

In [ ]:
plt.figure(figsize=(25,30))
for i in range(len(col2)):
  plt.subplot(5,3,i+1)
  sns.stripplot(x=data['income'],y=data[col2[i]],linewidth=0.5,palette='Set2')
  plt.title(f"Income VS {col2[i]}",fontsize=20)
  plt.xticks(rotation=90,fontsize=16)  
  plt.yticks(fontsize=16)
  plt.tight_layout()

#Obseravtion
1-From age i can say from 25-65 people have high chances to get more then 50k

2-From workclass i can say except without pay and never worked other workclass have chances to earn more then 50k

3-From education i can say as the education increase there are more chances to earn more then 50k same with education_num

4-From marital status i can say except married af spouse all have chances to earn more then 50k

5-From occupation i can say as the occupation increase there are more chances to earn more then 50k

6-from relationship i can say there is no such effect of relationship on income same with SEX

7-From capital gain i can say more the capital income more chances to earn more then 50k

8-From capital loss i can say less the capital loss more the income

9-for last two plot i plot them again to understand them

In [ ]:
plt.figure(figsize=(8,15))
sns.stripplot(x='income',y='native.country',data=data,palette='Set2')
plt.yticks(fontsize=14)
plt.xticks(fontsize=14)

*the plot shows people belonging to different contries have less chances of earning>50k which is wrong,this is because np.of individuals belonging from other countries other than U.S are very low but it is to be noticed that there are more people in the category <50k than >50k*

In [ ]:
plt.figure(figsize=(12,8))
sns.boxenplot(x='income',y='hours.per.week',data=data)

*people earning >50k income work mean hours per week greater than those earning <50k while people from both the categories work from min to max hours per week*

In [ ]:
data.columns

In [ ]:
# Removed age because we are comparing all the coloumns with Age

col3 = ['workclass', 'education', 'education.num',
        'marital.status', 'occupation', 'relationship', 'race', 'sex',
        'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
        'income']

In [ ]:
plt.figure(figsize=(20,60))
for i in range(len(col3)):
  plt.subplot(8,2,i+1)
  sns.stripplot(y=data['age'],x=data[col3[i]],palette='Set2')
  plt.title(f"Age VS {col3[i]}",fontsize=20)
  plt.xticks(rotation=90,fontsize=16)  
  plt.yticks(fontsize=16)
  plt.tight_layout()

#Obseravtion

Individuals working in the gov. sector have almost age 70 to 80 with few outliers which must be the retirement age for them.

there are no individual who do not work after age of 30. 

there are no individuals of age >70 belonging to the pre school education category while doctorates and professors appers from late 20's as they have to study for more years to get to that level of education.

same is the case with education num, as the education number increase age also in increased. 

there are no people after the age of 50 in the married to armed forced category with just a few outliers.

Windowed category has seen icrease as the age seems to increase there are very few  widow at early age 

there are more no. of working men at higher age than women

there are very few people belonging from other countries with high age

In [ ]:
col4 = ['age', 'workclass', 'education', 'education.num',
        'marital.status', 'occupation', 'relationship', 'race', 'sex',
        'capital.gain', 'capital.loss', 'native.country',
        'income']

In [ ]:
plt.figure(figsize=(20,150))
for i in range(len(col3)):
  plt.subplot(16,1,i+1)
  sns.violinplot(y=data['hours.per.week'],x=data[col4[i]])
  plt.title(f"Hours Per Week VS {col3[i]}",fontsize=20)
  plt.xticks(rotation=90,fontsize=16)  
  plt.yticks(fontsize=16)
  plt.tight_layout()

#Obseravtion
Govt Employees do not work more than 80 hours a week that also with rare cases

it is been seen that people with less education work more no. hours of the week which is logical

no armed force person works more than 60 hours a week while farmers and transport movers has working hours mean high than other occupation

More no. of individuals who have relationship as own child have high density for working only 20 hours a week.

female works for less no. of hours as compare to mens

From relation ship people who are husband work more as compare to others and who owned child they work less as compare to other

From Race white people work more as comapre to other

From education people who are prof. and are doing doctorate work more no.of hours

In [ ]:
data0=data.groupby(['age',"income"]).apply(lambda x:x['hours.per.week'].count()).reset_index(name='Hours')

In [ ]:
data0

In [ ]:
plt.figure(figsize=(20,10))
sns.lineplot(x='age',y='Hours',data=data0,hue='income')
plt.title("Income VS Work Of Hours",fontsize=30)

People who get salary <50k they work more and people who get salary >50k they work less as comapre to other

In [ ]:
plt.figure(figsize=(12,8))
sns.barplot(x='income',y='age',data=data,hue='sex')
plt.title("Income Vs Age",fontsize=20)

As the age increase people paid more but male paid more always as compare to females

In [ ]:
plt.figure(figsize=(12,8))
sns.factorplot(x='workclass',y='education.num',hue='income',data=data)
plt.xticks(rotation=90,fontsize=16)

#Observation
Some people belonging to a particular workclass might have less education and some workclass might require more education level but no matter wheather workcalss,people in the same workclass,if they have higher education level they earn more. it is also to be noticed that there is no person from without pay and never worked workclass category who earn more than 50k which is logical

In [ ]:
sns.factorplot(x='sex',y='education.num',data=data,hue='income')
plt.xticks(rotation=90)

#Observation
Female with higher education level earn equal to men having less education level than them irrespective of any income category they fall

In [ ]:
sns.factorplot(x='race',y='education.num',hue='income',data=data)
plt.xticks(rotation=90,fontsize=12)

#Obseravtion

Asian pacific race have comparatively more education than the fellows who earn same as much as they do,belonding to other races.Indians and some other races earns >50k with lowest education level

In [ ]:
sns.factorplot(x='occupation',y='education.num',hue="income",data=data)
plt.xticks(rotation=90,fontsize=12)

#Obseravtion

People with highest education level belong to armed forces,but people with even education level quite low, who belong to handlers cleaners,transport maoving occupation earn as much as they do. Same is the case with prof speciality.occupation of private house service who earn >50k and <50k have the highest education level different while prof speciality have the minimum difference

In [ ]:
plt.figure(figsize=(12,8))
sns.scatterplot(x='age',y='hours.per.week',data=data,hue='income',palette='Set2')

#Obseravtion

From the plot between age,Hours per week and income,we observe that a person need to be >30 to be earning more than 50k, else needs to work at least 50 hours per week to earn >50k

In [ ]:
sns.pairplot(data)

In [ ]:
{column:len(data[column].unique()) for column in data.select_dtypes('object').columns}

In [ ]:
from sklearn.preprocessing import LabelEncoder,OrdinalEncoder,StandardScaler,power_transform

**I will use ordinalencoder because every column except native_country are in order**

In [ ]:
Oe=OrdinalEncoder()
def ordinal_encoder(df,column):
  df[column]=Oe.fit_transform(df[column])
  return df

In [ ]:
data=ordinal_encoder(data,['workclass', 'education', 'marital.status', 'occupation','relationship', 'race', 'sex', 'income'])

**Using labelencoder because unique values are only 42 not using onehot because it will increase the dimension size and even for model building more time and computation power will be required**

In [ ]:
def preprocessing(df):
  df=df.copy()
  le=LabelEncoder()
  df['native.country']=le.fit_transform(df['native.country'])
  X=df.drop('income',axis=1)
  y=df['income']
  return X,y

In [ ]:
X,y=preprocessing(data)

In [ ]:
X

In [ ]:
X_corr=X.corr()
plt.figure(figsize=(12,8))
sns.heatmap(X_corr,annot=True)

*Correlation is seems to be good like education having good +ve correlation and relationship and sex having -ve correlation and rest of the columns are also having correlation but at low level*

In [ ]:
x=X

#Checking Outliers

In [ ]:
X_val=X.columns.values
plt.figure(figsize=(30,20))
for i in range(len(X_val)):
  plt.subplot(5,3,i+1)
  sns.boxplot(X[X_val[i]])
  plt.tight_layout()

*There are many outliers lets remove them*

**Here i will replace the outliers with percentile so we dont loose data**

In [ ]:
for col in X.columns:
  percentile=X[col].quantile([0.01,0.98]).values
  X[col][X[col]<=percentile[0]]=percentile[0]
  X[col][X[col]>=percentile[1]]=percentile[1]

#After removing Outliers

In [ ]:
X_val=X.columns.values
plt.figure(figsize=(30,20))
for i in range(len(X_val)):
  plt.subplot(5,3,i+1)
  sns.boxplot(X[X_val[i]])
  plt.tight_layout()

*as we can see many outliers have been removed*

#Using Smote to balance the data as we have imbalanced data

In [ ]:
smote=SMOTE(random_state=42)
X_res,y_res=smote.fit_resample(X,y)
X_new=pd.DataFrame(X_res,columns=x.columns)
y_new=pd.DataFrame(y_res,columns=['income'])

*Seeing the difference before and after balancing data*

In [ ]:
plt.figure(figsize=(15,8))
plt.subplot(1,2,1)
sns.countplot(data['income'])
plt.title("Imbalanced Data")
plt.subplot(1,2,2)
sns.countplot(y_new['income'])
plt.title("Balanced data")

*Shape of data before and after balancing*

In [ ]:
print(data.shape)
print(X_new.shape)

In [ ]:
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV,StratifiedKFold

#Checking skewness

In [ ]:
X.skew()

**Removing Skewness**

In [ ]:
X_new=power_transform(X_new,method='yeo-johnson')
X_new=pd.DataFrame(X_new,columns=x.columns)

#Checking skewness after removal

In [ ]:
X_new.skew()

#Feature Scaling

In [ ]:
scaler=StandardScaler()
X_new=scaler.fit_transform(X_new)
X_new=pd.DataFrame(X_new,columns=x.columns)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X_new,y_new,test_size=0.3,random_state=42)

In [ ]:
import sklearn
from sklearn.ensemble import ExtraTreesClassifier,RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
# !pip install scikit-plot
import scikitplot as skplt
from lightgbm import LGBMClassifier

#Training multiple Models

In [ ]:
models={
    "LogisticRegression":LogisticRegression(),
    "DecisionTreeClassifier":DecisionTreeClassifier(),
    "ExtraTreesClassifier":ExtraTreesClassifier(),
    "RandomForestClassifier":RandomForestClassifier(),
    "XGBClassifier":XGBClassifier(),
    "LGBMClassifier":LGBMClassifier()
}

*I will use stratifiedfold because for classification problem it select the data equally from both classes*

In [ ]:
skf=StratifiedKFold(n_splits=5,shuffle=True)
Score=[]
CVS=[]
MODEL=[]
for name,model in models.items():
  print("*__________*_____*_____*_____*_____*_____*_____*",name,"*_____*_____*_____*_____*_____*_____*__________*")
  MODEL.append(name)
  model.fit(X_train,y_train)
  y_pred=model.predict(X_test)
  print('\n')
  ac=accuracy_score(y_test,y_pred)
  Score.append(ac)
  print("Accuracy_Score",ac)
  print('\n')
  print("SCORE",model.score(X_test,y_test))
  print("\n")
  cm=confusion_matrix(y_test,y_pred)
  print('Confusion metrics')
  print('\n')
  print(cm)
  print("CLASSIFICATION REPORT")
  report=classification_report(y_test,y_pred)
  print('\n')
  print(report)
  csv=cross_val_score(model,X_new,y_new,cv=skf).mean()
  CVS.append(csv*100)
  print("Cross_Val_Score",csv)
  print('\n')
  print("ROC AUC CURVE")
  plt.figure(figsize=(12,8))
  roc_auc(model,X_train,y_train,X_test=X_test,y_test=y_test,classes=['<=50k','>50k'],micro=False,macro=False)
  print("MODEL LEARNING CURVE")
  skplt.estimators.plot_learning_curve(model,X_new,y_new,cv=skf,scoring='accuracy',text_fontsize='large',title=name)
  plt.show()

#Lightgbm is giving me good metrixs so i will use it only for hyperparameter

In [ ]:
LGB=LGBMClassifier()
LGB.fit(X_train,y_train)

In [ ]:
y_pred=LGB.predict(X_test)
accuracy_score(y_test,y_pred)

In [ ]:
LGB.get_params()

#HyperParameter Tuning

*I Am using here less parameters because dataset is big and because of less computation power if i will use more params my system will carsh*

In [ ]:
param={
    'boosting_type': ['gbdt','dart','gross','rf'],
    'n_estimators':[100,500],
    'learning_rate':[0.1,0.01,0.001],
    'importance_type': ['split','gain'],
}

In [ ]:
GRID=GridSearchCV(estimator=LGB,scoring='accuracy',param_grid=param,n_jobs=-1,cv=skf)

In [ ]:
GRID.fit(X_new,y_new)

In [ ]:
GRID.best_score_

In [ ]:
GRID.best_params_

In [ ]:
LGBM=LGBMClassifier(boosting_type= 'dart',
 importance_type= 'split',
 learning_rate= 0.1,
 n_estimators= 500)

#Final Model Cross Val Score

In [ ]:
new_csv=cross_val_score(LGBM,X_new,y_new,cv=skf).mean()
new_csv

In [ ]:
LGBM.fit(X_train,y_train)
y_p=LGBM.predict(X_test)
print(accuracy_score(y_test,y_p))

**Cross_val_score increased by 91.3 to 91.47**

#Final Model Roc_Auc Curve

In [ ]:
print("ROC AUC CURVE")
plt.figure(figsize=(12,8))
roc_auc(LGBM,X_train,y_train,X_test=X_test,y_test=y_test,classes=['<=50k','>50k'],micro=False,macro=False)
print("MODEL LEARNING CURVE")
skplt.estimators.plot_learning_curve(LGBM,X_new,y_new,cv=skf,scoring='accuracy',text_fontsize='large',title=name)
plt.show()

#Final Model Matrix

In [ ]:
print("Confusion matrics")
print('\n')
print(confusion_matrix(y_test,y_p))
print("Classifiaction_report")
print('\n')
print(classification_report(y_test,y_p))
print("Accuracy Score",accuracy_score(y_test,y_p))

In [ ]:
import joblib
joblib.dump(GRID,"CensusClassifier.obj")

In [ ]:
model=joblib.load('CensusClassifier.obj')

In [ ]:
model.predict(X_test)

#Conclusion
In this data i have to predict the income of peoples where the income is <50k or greater then 50k so

i did eda to understand the effect of features on target 

The data was imbalanced so i used the balancing technique to balance the data i did up sampling

there was lot of outliers so i used the percentile method to replace outliers because i dont want to loose data 

and i build many model but lighgbm was giving me good matrixs so i did hyperparameter tuning of that

at the end i was getting 91.3% accuracy and i saved the model